* {
  background-color: rgb(238, 238, 238);
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img_fundo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_fundo img{
  width: 10%;
  height: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

#button_save {
  font-size: 14pt;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(17, 134, 23);
  color: #fff;
  padding: 8px;
  cursor: pointer
}

#button_reset {
  font-size: 14pt;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(253, 0, 0);
  padding: 8px;
  color: #fff;
  cursor: pointer;
}

input {
  padding: 4px;
  border-radius: 5px;
  background-color: #fff;
}

.forms {
  display: grid;
  justify-content: center;
}

fieldset {
  border-radius: 10px;
}

#tipos_select {
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #fff;
}

.tabela_ds {
  display: grid;
  justify-content: center;
}