* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

.all-content {
    background-color: #000000f8;
}

.logo-mobile{
    display: none!important;
}

.menu_inicial {
    height: 100vh;
    border-right: 1px solid rgba(85, 85, 85, 0.753);
    width: 13%;
    position: fixed;
    background-color: #000000;
}

.menu_inicial p {
    font-size: 14pt;
    align-items: center;
    margin: 0 0 0 10px;
    color: #fff;
}

.menu_inicial p::first-letter {
    text-transform: capitalize;
}

.menu_inicial i {
    align-items: center;
    padding: 15px 10px 20px 15px;
    font-size: 20pt;
    color: #fff;
}

.i-list-more {
    display: flex;
    height: 34%;
    align-items: flex-end;
}

.logo {
    margin: 40px 0 50px 10px;
}

.menu_inicial img {
    margin-left: 8px;
    width: 50%;
    height: auto;
}

.menu_inicial svg {
    margin-left: 8px;
    width: 50%;
    height: auto;
}

.menu_inicial a {
    text-decoration: none;
    height: auto;
}

.profile img {
    text-transform: capitalize;
    width: 11%;
    border-radius: 100%;
}

.profile {
    margin-top: 5px;
    font-size: 14pt;
    margin: 10px 0 0 8px;
    object-fit: cover;
}

.top_bar {
    width: 86.2vw;
    background-color: #000000;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-bottom: 1px solid rgba(85, 85, 85, 0.753);
}

.story {
    width: 150px;
    height: auto;
    padding: 10px 0 10px 0;
    display: grid;
    justify-items: center;
}

.story span {
    color: #ffffffda;
    font-size: 9pt;
}

.story img {
    width: 40%;
    border-radius: 100%;
    border: 4px ridge rgb(255, 153, 0);
}

.carousel {
    display: none;
}

.content_page {
    margin-left: 13%;
}

/* feed area */

.feed {
    max-width: 470px;
}

.header_card {
    background-color: #000000;
    border-bottom: 1px solid #757575ef;
    border-radius: 10px 10px 0 0;
}

.card_feed {
    margin-bottom: 10px;
}

.profile_img {
    padding: 10px;
}

.profile_img img {
    width: 50px;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
}

.username_feed {
    color: #fff;
    align-items: center;
    align-content: center;
}

.list_more_list {
    color: #fff;
    font-size: 18pt;
}

.bottom-card {
    border: 1px solid #484848;
    border-top: none;
}

.interact-buttons i {
    color: #fff;
    font-size: 18pt;
}

.interact-buttons span {
    padding: 8px;
}

.bi-heart-fill:hover {
    color: red;
    cursor: pointer;
}

.bi-send-fill:hover,
.chat-card:hover,
.bi-bookmark-fill:hover {
    color: #aaaaaa;
    cursor: pointer;
}

.save-fill {
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.comments-area {
    color: #fff;
    font-size: 11pt;
    margin: 0 5px 0 5px;
}

.form-comment {
    margin: 10px 0 10px 0;
}

.form-comment form {
    border-top: 1px solid #484848;
}

.form-comment textarea {
    resize: none;
    outline: #00000000;
    background-color: #000000;
    border: none;
    color: #fff;
}

.form-comment a {
    text-transform: capitalize;
    text-decoration: none;
    color: #aaaaaa;
}

/* Suggestions */

.title-suggestion {
    padding: 0 0 15px 0;
    color: white;
    font-size: 14pt;
    font-weight: 600;
}

.suggestions {
    margin-top: 110px;
    right: 20px;
    position: absolute;
    display: grid;
    gap: 5px;
}

.box-sugg-1 {
    padding: 0 0 20px 0;
}

.div-profile-image {
    width: 70px;
}

.div-profile-image img {
    width: 75%;
    height: auto;
    border-radius: 100%;
}

.name-profile {
    color: #fff;
    font-size: 12pt;
}

.button-follow button {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    padding: 2px 15px;
    text-transform: capitalize;
}

.s-2 {
    padding: 0 0 0 10px;
}

/* mobile */

@media screen and (max-width: 416px) {

    .logo-mobile{
        padding: 20px 0 5px 15px;
        display: flex!important;
        background-color: #000000;
    }

    .icons-top{
        gap: 15px;
        flex-direction: row-reverse;
        padding-right: 10px;
    }

    .icons-top i, .icons-top a{
        text-decoration: none;
        color: #fff;
        font-size: 14pt;
    }

    .all-content {
        background-color: #000000f8;
        width: 100%;
    }

    .top_bar {
        width: 100% !important;
        background-color: #000000;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-bottom: 1px solid rgba(54, 54, 54, 0.753);
    }

    .menu_inicial {
        display: none;
    }

    .content-menu-col{
        display: none;
    }

    .content_page {
        width: 100%;
        margin: 0;
    }

    /* stories */
    .story {
        justify-content: center;
        width: 30%;
        justify-items: center;
        padding: 10px 0 10px 0;
        display: flex;
    }

    .story img {
        width: 40px;
        border-radius: 100%;
        border: 1px ridge rgb(255, 153, 0);
    }

    .story span {
        color: #ffffffda;
        font-size: 5pt;
    }

    .storie-desktop {
        display: none;
    }

    .carousel-control-next-icon {
        width: 15px;
    }

    .carousel-control-prev-icon {
        width: 15px;
    }

    .carousel {
        display: block;
    }

    .feed {
        width: 90%;
    }

    .header_card {
        background-color: #000000;
        border-bottom: 1px solid #757575ef;
        border-radius: 10px 10px 0 0;
    }

    .card_feed {
        margin-bottom: 5px;
    }

    .header_card {
        background-color: #000000;
        border-bottom: 1px solid #757575ef;
        border-radius: 10px 10px 0 0;
    }

    .card_feed {
        margin-bottom: 10px;
    }

    .profile_img {
        padding: 10px;
    }

    .profile_img img {
        width: 40px;
        height: auto;
        border-radius: 100%;
        object-fit: cover;
    }

    .list_more_list {
        color: #fff;
        font-size: 12pt;
    }

    .username_feed {
        font-size: 10pt;
        color: #fff;
        align-items: center;
        align-content: center;
    }


    .post img {
        width: 100%;
    }

    .suggestions {
        display: none;
    }

    .bottom-card {
        border: 1px solid #484848;
        border-top: none;
    }

    .interact-buttons i {
        color: #fff;
        font-size: 14pt;
    }

    .comments-area span{
        font-size: 9pt;
    }

    .interact-buttons span {
        padding: 8px;
    }

    .form-comment textarea {
        font-size: 9pt;
        resize: none;
        outline: rgba(0, 0, 0, 0);
        background-color: rgb(0, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
    }
}