* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu_inicial {
    height: 100vh;
    border-right: 1px solid rgba(85, 85, 85, 0.753);
    width: 13%;
    position: fixed;
}

.menu_inicial p {
    font-size: 14pt;
    align-items: center;
    margin: 0 0 0 10px;
}

.menu_inicial p::first-letter{
    text-transform: capitalize;
}

.menu_inicial i{
    align-items: center;
    padding: 15px 10px 20px 15px;
    font-size: 20pt;
}

.i-list-more{
    display: flex;
    height: 34%;
    align-items: flex-end; 
}

.logo {
    margin: 40px 0 50px 10px;
}

.menu_inicial img{
    margin-left: 8px;
    width: 50%;
    height: auto;
}

.profile img{
    text-transform: capitalize;
    width: 11%;
    border-radius: 100%;
}

.profile{
    margin-top: 5px;
    font-size: 14pt;
    margin: 10px 0 0 8px;
    object-fit: cover;
}

.top_bar{
    width: 87vw;
    background-color: #000000;
    margin-left: 0!important;
    margin-right: 0!important;
    border-bottom: 1px solid rgba(85, 85, 85, 0.753);
}

.story{
    width: 150px;
    height: auto;
    padding: 10px 0 10px 0;
    display: grid;
    justify-items: center;
}

.story span{
    color: #ffffffda;
    font-size: 9pt;
}

.story img{
    width: 40%;
    border-radius: 100%;
}

.content_page{
    background-color: #000000e3;
    margin-left: 13%;
}

.feed{
    max-width: 470px;
}

.header_card{
    background-color: #000000;
    border-bottom: 1px solid #757575ef;
    border-radius: 10px 10px 0 0;
}

.profile_img{
    padding: 10px;
}

.profile_img img{
    width: 50px;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
}

.username_feed{
    color: #fff;
    align-items: center;
    align-content: center;
}

.list_more_list{
    color:#fff;
    font-size: 18pt;
}

.interact i{
    color: #fff;
    font-size: 18pt;
}

.interact span{
    padding: 8px;
}
